[credential]
	helper = store
[color]
	ui = true
[alias]
        graph = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
        lg = log --color --decorate --graph --oneline --abbrev-commit
        wip = !git add -u && git commit
[help]
	autocorrect = 1
[rerere]
	enabled = true
[user]
	name = Robert Melton
	email = robert@robertmelton.com
[pull]
	rebase = false
[format]
	pretty = short
[push]
	default = tracking
[advice]
	pushNonFastForward = true
	statusHints = true
[diff]
	renames = copies
	mnemonicprefix = true
	algorithm = patience
	tool = vimdiff
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
	stat = true
[branch]
	autosetupmerge = true
[github]
        user = robertmeta
[difftool]
	prompt = false
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "https://bitbucket.com/"]
	insteadOf = git://bitbucket.com/
[url "https://github.com/"]
        insteadOf = ssh://git@github.com/
[url "https://bitbucket.com/"]
        insteadOf = ssh://git@bitbucket.com/
[url "https://github.com/"]
        insteadOf = git@github.com:
[url "https://bitbucket.com/"]
        insteadOf = git@bitbucket.com:
[url "https://"]
	insteadOf = git://
