[credential]
	helper = cache --timeout=64800
[color]
	ui = true
[alias]
        a = add
        amend = commit -a --amend
        bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
        bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
        br = branch
        catchup = log --patch --reverse --topo-order _ribbon..origin/master # git rev-parse --abbrev-ref HEAD maybe?
        ci = commit
        cm = !git add -A && git commit -m
        cob = checkout -b
        co = checkout
        ec = config --global -e
        graph = log --graph --all --pretty=format:'%Cred%h%Creset - %Cgreen(%cr)%Creset %s%C(yellow)%d%Creset' --abbrev-commit --date=relative
        lg = log --color --decorate --graph --oneline --abbrev-commit
        ours = "!f() { git checkout --ours $@ && git add $@; }; f"
        ribbon = tag --force _ribbon origin/master
        save = !git add -A && git commit -m 'SAVEPOINT'
        snapshot = !git stash save "snapshot: $(date)" && git stash apply "stash@{0}"
        staged = diff --cached
        st = status
        theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
        undo = reset HEAD~1 --mixed
        up = !git pull --rebase --prune $@ && git submodule update --init --recursive
        wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
        wip = !git add -u && git commit -m "WIP"
[help]
	autocorrect = 1
[rerere]
	enabled = true
[user]
	name = Robert Melton
	email = robert@robertmelton.com
[pull]
	rebase = false
[format]
	pretty = short
[push]
	default = tracking
[advice]
	pushNonFastForward = true
	statusHints = true
[diff]
	renames = copies
	mnemonicprefix = true
	algorithm = patience
[core]
	editor = vim
	whitespace = trailing-space,space-before-tab
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
	stat = true
[branch]
	autosetupmerge = true
[url "https://github.com/"]
        insteadOf = ssh://git@github.com/
[url "https://bitbucket.com/"]
        insteadOf = ssh://git@bitbucket.com/
